@Html.PageHeader("Change Password")
<div data-ng-controller="userChangePasswordController" data-ng-cloak>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading clearfix"></div>
                <div class="panel-body">
                    <form name="form" data-ng-init="form=form" data-ng-submit="submit(form)" data-ng-loading-form data-ng-autocomplete="off">
                        @FormField.CurrentPassword()
                        @FormField.NewPassword()
                        @FormField.ConfirmPassword()

                        <button type="submit" class="btn btn-primary btn-sm" value="Save"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>