<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="mc:path" value="https://api-mc.sodapdf.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="mc:token" value="IJ7uRa5YWD0GhQ34sYAjYVjQUmbcmZyd//FwnbZUJDRzJ2vyFpv0HlHIHq1cNw09Fj4apamc+7tbAiWknpahMQhUlhKoReSlSVxYcJd5TpmNuTbu7ng2fRP9cj1Hvb18" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>