<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="mc:path" value="https://stage-api-mc.sodapdf.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="mc:token" value="FWpAuuu2onD8SNtgjXd8+dNxx9txU/HQpRMGpDfvFgslj0texSts5YNnhmJhjIUArTKjtc0KpRp52Az0XkwulFyAFLG9zrA5QmOrHItnQNNfVs5pNi6WWt+GFGQbvdw8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>