<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="oauth:resetPassword" value="http://stage-paygw.pdfarchitect.org/redirect/custom/pdf-architect-6/?customValue=online-resetpassword" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="downloadLink" value="http://stage-paygw.pdfarchitect.org/redirect/custom/pdf-architect-6/?customValue=get-trial" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="oauth"
         connectionString="Password=2049DA9B-92BC;Persist Security Info=True;User ID=sodapdfSaas_user;Initial Catalog=FORGE_SaasOauth;Data Source=10.2.48.167;App=EntityFramework"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="oauthAdmin"
         connectionString="Password=2049DA9B-92BC;Persist Security Info=True;User ID=forgeSaasAdmin_user;Initial Catalog=FORGE_SaasOauthAdmin;Data Source=10.2.88.22;App=EntityFramework"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>