<div class="clearfix">
    <h6 class="account-title">Account
        <span ng-account-type="model.account.status"></span>
        <span ng-account-activated="model.account.status"></span>
    </h6>
    <ng-account-menu></ng-account-menu>
</div>

<div class="form-group mb-1">
    <label class="mb-0">Email <span class="text-danger">*</span></label>
    <span class="form-control form-control-sm" data-ng-bind="::model.account.email"></span>
</div>

<div class="form-group mb-1">
    <label class="mb-0">First name <span class="text-danger">*</span></label>
    <span class="form-control form-control-sm" data-ng-bind="::model.account.firstName"></span>
</div>

<div class="form-group mb-1">
    <label class="mb-0">Last name <span class="text-danger">*</span></label>
    <span class="form-control form-control-sm" data-ng-bind="::model.account.lastName"></span>
</div>