<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="eSign20:path" value="https://api-esign.pdfarchitect.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eSign20:token" value="YR88Wrwe/t+LmHo/uFDTHGB5noJzu7t2HZ7zgcetiYOQaW+IBkdM9TaviXYYr2sEshndX4ERUulVNVTrrnDzLigOU+Wj0C0/hfsReKPHli0JruNczo7OU+UvclK9ksE6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="oauth"
         connectionString="Password=2049DA9B-92BC;Persist Security Info=True;User ID=saas_user_forge;Initial Catalog=FORGE_SaasOauth;Data Source=10.2.58.30;App=EntityFramework"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>