<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="eSign20:path" value="https://stage-api-esign.sodapdf.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eSign20:token" value="FSq++IeL7u87H8+oF2c9BuP8yOtDLTMoyZ3OrRToBuG2Y6IJTWo4rXJQUBDQt0SHXBvCejwBjTT4WfPxneUNrbu164tbuyD2ZqkdybpIT71EKTn1hz9F5UbbCnsQbJoP" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="oauth"
         connectionString="Password=2049DA9B-92BC;Persist Security Info=True;User ID=sodapdfSaas_user;Initial Catalog=SodapdfSaasOauth;Data Source=10.2.48.167;App=EntityFramework"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>