<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="eSign20:path" value="https://stage-api-esign.pdfarchitect.org" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eSign20:token" value="efAs/SnRdIB6arZMl/t0MBIXU4hdJahFrWvd49MA3xZpTTHIS8vOqqvaeVVRnJYtYqxhDhER/epBAMcmVhthYN+GIqt1Pqnc/+6B2gcy6YmtjkU7On1jtqrvZguqskw2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
   </appSettings>

  <connectionStrings>
    <add name="oauth"
         connectionString="Password=2049DA9B-92BC;Persist Security Info=True;User ID=sodapdfSaas_user;Initial Catalog=FORGE_SaasOauth;Data Source=10.2.48.167;App=EntityFramework"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>