<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="eSign20:path" value="https://api-esign.sodapdf.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="eSign20:token" value="hMU2X5RGP9NE7yzc8pDGq+38rPSduaD/PFkZHWupCZOmN7V3Fr48cVKS6/YxeqUu62th/zPjPjYMV3M197amGzSI1ZBRE+4Qu4fZODhrOzzxUePvJ4mhX2NZ9RGr1H6G" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="oauth"
         connectionString="Password=2049DA9B-92BC;Persist Security Info=True;User ID=sodapdfSaas_user;Initial Catalog=SodapdfSaasOauth;Data Source=10.2.58.30;App=EntityFramework"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

</configuration>