<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="oauth:createPassword" value="http://paygw.sodapdf.com/redirect/custom/soda-pdf-desktop/?customValue=online-createpassword" />
    <add key="oauth:emailConfirmation" value="http://paygw.sodapdf.com/redirect/custom/soda-pdf-desktop/?customValue=online-emailconfirmation" />
    <add key="paygw:customLink" value="http://paygw.sodapdf.com/redirect/custom/soda-pdf-desktop/?customValue={0}" />

    <add key="downloadLink" value="http://paygw.sodapdf.com/redirect/custom/soda-pdf-desktop/?customValue=get-trial" />
  </appSettings>

  <connectionStrings>
    <!--<add name="oauth"
         connectionString="Password=2049DA9B-92BC;Persist Security Info=True;User ID=sodapdfSaas_user;Initial Catalog=FORGE_SaasOauth;Data Source=10.2.48.167;App=EntityFramework"
         providerName="System.Data.SqlClient" />-->

    <add name="oauth"
         connectionString="Password=2049DA9B-92BC;Persist Security Info=True;User ID=saas_user_sam;Initial Catalog=SAM_SaasOauth;Data Source=10.2.58.30;App=EntityFramework"
         providerName="System.Data.SqlClient" />
    
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="noreply@sodapdf.com">
        <network host="64.151.69.92" port="25" />
      </smtp>
    </mailSettings>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
</configuration>