<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
  
  <targets>
    <target name="errors" xsi:type="File" fileName="${basedir}/nlog/${date:format=MMMM yyyy}/${date:format=dd}-errors.log" layout="${date:format=HH\:mm\:ss}|${level}|: ${message}" />
    <target name="logs" xsi:type="File" fileName="${basedir}/nlog/${date:format=MMMM yyyy}/${date:format=yyyy-MM-dd}-logs.log" layout="${date:format=HH\:mm\:ss}|${level}|: ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="errors" />
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="logs" />
  </rules>
</nlog>