<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="oauth:createPassword" value="http://paygw.pdfarchitect.org/redirect/custom/pdf-architect-6/?customValue=online-createpassword" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth:emailConfirmation" value="http://paygw.pdfarchitect.org/redirect/custom/pdf-architect-6/?customValue=online-emailconfirmation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="paygw:customLink" value="http://paygw.pdfarchitect.org/redirect/custom/pdf-architect-6/?customValue={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="downloadLink" value="http://paygw.pdfarchitect.org/redirect/custom/pdf-architect-6/?customValue=get-trial" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="oauth"
         connectionString="Password=2049DA9B-92BC;Persist Security Info=True;User ID=saas_user_forge;Initial Catalog=FORGE_SaasOauth;Data Source=10.2.58.30;App=EntityFramework"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="noreply@pdfarchitect.org">
        <network host="64.151.69.92" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>