@Html.PageHeader("Password")
@Html.Partial("~/Views/Account/Partial/Account.cshtml")

<div class="row">
    <div class="col-lg-6">
        <div data-ng-controller="accountChangePasswordController" data-ng-show="model.account && !model.account.isDeleted" data-ng-cloak>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="form" data-ng-init="form=form" data-ng-submit="submit(form)" data-ng-loading-form data-ng-autocomplete>
                        <div class="row">
                            <div class="col-sm-4">
                                @AccountFormField.NewPassword()
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <button type="submit" class="btn btn-primary btn-sm" value="Change password"></button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <button type="submit" class="btn btn-primary btn-sm" data-ng-click="recoverPassword()">Recover password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
