<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="level" value="${lowerCase:${level}}" />
  <variable name="layout" value="${time}|${level}|: ${exception}
            ${newline} ${aspnet-request-method}|: ${aspnet-request-Url}
            ${newline} Referrer|: ${aspnet-request-referrer}
            ${newline} UserAgent|: ${aspnet-request-userAgent}
            ${newline} Ip|: ${aspnet-request:serverVariable=REMOTE_ADDR}
            ${newline} Identity|: ${aspnet-user-identity} 
            ${newline} ${message}"/>

  <targets>
    <target name="target" xsi:type="File" fileName="${baseDir}nlog/${logger}-${shortDate}-${level}/${date:format=yyyy-MM-dd HH}.log" layout="${layout}" />
    <target name="target-ip-filter" xsi:type="File" fileName="${baseDir}nlog/${logger}-${shortDate}-${level}/${date:format=yyyy-MM-dd HH}.log" layout="${layout}" />
  </targets>

  <rules>
    <logger name="oauth-log" writeTo="target" enabled="true" />
    <logger name="oauth-refresh-token" writeTo="target" enabled="true" />
    
    <logger name="oauth-ip-filter" writeTo="target-ip-filter" enabled="true" />
  </rules>
</nlog>
