<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="oauth:resetPassword" value="http://paygw.sodapdf.com/redirect/custom/soda-pdf-desktop/?customValue=online-resetpassword" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth:createPassword" value="http://paygw.sodapdf.com/redirect/custom/soda-pdf-desktop/?customValue=online-createpassword" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth:emailConfirmation" value="http://paygw.sodapdf.com/redirect/custom/soda-pdf-desktop/?customValue=online-emailconfirmation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth:emailChangeConfirmation" value="http://paygw.sodapdf.com/redirect/custom/soda-pdf-desktop/?customValue=online-emailchangeconfirmation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="oauth:mergeConfirmation" value="http://paygw.sodapdf.com/redirect/custom/soda-pdf-desktop/?customValue=online-mergeconfirmation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="b2blead:Email" value="b2blead@sodapdf.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="downloadLink" value="http://paygw.sodapdf.com/redirect/custom/soda-pdf-online/?customValue=get-trial" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <saas.oauth2.configuration xdt:Transform="Replace">
    <oauth>
      <add name="Google"
           clientid="40670141953-k0f0pdqhgc0dpcvtlstnk51oig1a0d6l.apps.googleusercontent.com"
           clientsecret="GD0eGMcKYbfwraizADZWl6cW"
           callbackUrl="https://oauth.sodapdf.com/api/external/callback/"
           scope="email profile" /><!--https://www.googleapis.com/auth/drive-->

      <add name="Facebook"
           clientid="682933292095098"
           clientsecret="4f07be4674c7cd9c2f94b144c53acf58"
           callbackUrl="https://oauth.sodapdf.com/api/external/callback/"
           scope="public_profile, email" />

      <add name="Microsoft"
           clientid="e5b683bf-c986-4af6-b390-d90c6c6d9d9f"
           clientsecret="dpKKYRH846{%=lvrysBZ59+"
           callbackUrl="https://oauth.sodapdf.com/api/external/callback/"
           scope="openid user.read" />
    </oauth>
  </saas.oauth2.configuration>

  <connectionStrings>
    <add name="oauth"
         connectionString="Password=2049DA9B-92BC;Persist Security Info=True;User ID=sodapdfSaas_user;Initial Catalog=SodapdfSaasOauth;Data Source=10.2.58.30;App=EntityFramework"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" xdt:Transform="Remove" xdt:Locator="Match(fileExtension)"/>
    </staticContent>
  </system.webServer>
</configuration>
