@Html.PageHeader("Emails")
<div class="row" data-ng-controller="adminEmailsController">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading clearfix"></div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>
</div>

