<div class="title">
    <h3>
        <span translate="Hi"></span> {{::(model.firstName || model.lastName)}}
    </h3>
    <div class="profile" ui-sref="account/select">
        <label class="profile-icon" data-ng-bind="::getFirstChar()" data-ng-style="{background:getColor()}"></label>
        <small data-ng-bind="::model.email"></small>
    </div>
</div>
<form name="passwordForm" data-ng-submit="submit(passwordForm)" novalidate>
    <div class="form-group">
        <div class="form-effect">
            <label translate="Enter your password"></label>
            <input type="password" name="password" class="form-control form-control-lg" data-ng-model="model.password"
                data-ng-change="status=null" maxlength="100" required data-ng-focus>
        </div>
        <p class="text-left text-danger mt-1">
            <small translate="Wrong password" data-ng-show="status===404"></small>
            <small translate="Enter a password"
                data-ng-show="passwordForm.password.$touched && passwordForm.password.$error.required"></small>
        </p>
    </div>

    <button class="btn btn-primary float-right" type="submit" translate="Next"></button>
</form>