<h3 class="mb-3" translate="Choose an account"></h3>
<ul class="account-list">
    <li data-ng-repeat="account in model.accounts" data-ng-click="select(account)">

        <label class="profile-icon" data-ng-bind="::getFirstChar(account)"
            data-ng-style="{background:getColor(account)}"></label>
        <span class="profile-info">
            <label data-ng-bind="::account.firstName"></label>
            <label data-ng-bind="::account.lastName"></label>

            <small data-ng-bind="::account.email"></small>
        </span>
        <div class="float-right">
            <em class="status" translate="Signed out"></em>
        </div>
    </li>
    <li ui-sref="account/identifier" translate="Use another account"></li>
    <li ui-sref="account/remove" translate="Remove an account"> </li>
</ul>